# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
backend/venv/
.env/

# macOS system files
.DS_Store

# TensorFlow / ML
*.h5
*.ckpt
*.tflite
*.pb
*.dylib
*.npy
*.npz

# Data files
*.csv
*.json
*.zip
*.tar
*.tar.gz

# IDE / Editor
.vscode/
.idea/
*.swp

# Logs
*.log

# Flask / Cache
instance/
*.db
